*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: red; */
}
h1{
    color: white;
    margin-left: 34px;
}



.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2874f0;
    width: 100%;
    height: 66px;
}
.mainlogo{
    margin-left: 15px; 
    height: 35px;   
}
.searchbar{
   width: 571px;
   text-align: center;
   font-weight: bold;
   word-spacing: 3px;
    height: 38px;
    border-radius: 4px;    
}
.navbar-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 7rem;
    margin-right: 34px;  
}
.navbar-list a{
    
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
}
button{
    background-color: white;
    width: 90px;
    height: 38px;
    color: #2874f0;
    font-weight: bold;
    font-size: 18px;
}
.gadget{
    display: flex; 
     justify-content: space-between;
    align-items: center;
    gap: 2rem;
}
.letter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    margin-left: 28px;
    margin-right: 17px;
    font-weight: bold;
}
/* p{
    display: flex;
    position: absolute;
    margin-top: 124px;
    margin-left: 23px;
    color: red;
    gap: 3rem;
} */

.container{ 
    /* background-color: rgb(184, 180, 180); */
    display: flex;
    align-items: center;
    margin-top: 34px;
    justify-content: center;
}
.swiper-slide img{
    height: 280px;
    /* width: 213px; */
}

.swiper-wrapper{
    margin-left: 13px;
}
.maincontainer{
    margin-top: 34px;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
    width: 134px;
    margin-left: 39px;   

}

.card p{
    font-weight: bold;
}

.offercard{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    margin: 32px;
    width: 234px;
}

.offercard1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2.9rem;
    margin: 32px;
    width: 234px;
}
.im{
    margin-left: 34px;
}
span{
    font-weight: bold;

}
.text{
    margin-left: 34px;
}

.footer{
    margin-top: 150px;
    width: 100%;
    padding: 100px 14%;
    background-color: #232f3e;
    color: white;
    display: flex;
   
}
.footer div{
    text-align: center;
    
}
.col-2{
    flex-grow: 3;
}
.footer div h3{
    font-weight: 300;
    margin-bottom: 30px;
    font-weight: bold;
    letter-spacing: 1px;
}
.col-1 a{
    display: block;
    text-decoration: none;
    color: white;
    margin: 3px;
  
}
.col-2 a{
    display: block;
    text-decoration: none;
    color: white;
    margin: 3px;

}
.col-3 a{
    display: block;
    text-decoration: none;
    color: white;
    margin: 3px;

}
.col-4 a{
    display: block;
    text-decoration: none;
    color: white;
    margin: 3px;

}
.coutntry{
    border-top: 1px solid red;
}
.socialmedia{
    gap: 3rem;
}
.para{
    background-color: #232f3e;
    padding: 34px;
    color: white;
}
.para p{
    margin-left: 34px;
}
.para span{
    color: red;
}